#[DV3D]
#codepath = DV3D
#config_file = registry.cfg
#helper = packages.vtDV3D.PlotPipelineHelper.DV3DPipelineHelper 

#[ParaView]
#codepath = ParaView
#config_file = registry.cfg

#[VTK]
#codepath = VTK
#config_file = registry.cfg

[PVClimate]
codepath = PVClimate
config_file = registry.cfg
helper = packages.pvclimate.pvclimate_pipeline_helper.PVClimatePipelineHelper

#[VisIt]
#codepath = VisIt
#config_file = registry.cfg
#helper = packages.VisIt.visit_pipeline_helper.VisItPipelineHelper 
